q1 :

ineruon 

ineruon ineruon

ineruon ineruon ineruon

ineruon ineruon ineruon ineruon

In [1]:
n=4
for i in range(n):
    for j in range(i+1):
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [22]:
"""
q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon
"""

'\nq2 - \n\n          ineruon\n    ineruon      ineruon\nineruon\t\tineruon \tineruon\n\tineruon\t\t ineruon\n\t\t  ineruon\n'

In [23]:
n=3
for i in range(3):
    for j in range(i, n-1):
        print("      ", end=" ")
    for j in range(i+1):
        print("ineuron", end="         ")
    print("\n")
for i in range(3):
    for j in range(i+1):
         print("      ", end=" ")     
    for j in range(i, n-1):
        print("ineuron", end="         ")  
    print("\n")

              ineuron

       ineuron         ineuron

ineuron         ineuron         ineuron

       ineuron         ineuron

              ineuron

In [24]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [25]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

q3 : Try to extract all the list entity

In [26]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

q4 : Try to extract all the dict entities

In [27]:
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5 : Try to extract all the tuples entities

In [28]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6 : Try to extract all the numerical data it may b a part of dict key and values

In [29]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [30]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i)  == set :
        for j in i:
            if type(j) == int:
                print(j)
    if type(i) == dict:
        for j in i:
            if type(j) == int or type(i[j]) == int :
                print(j)
                print(i[j])

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

q7 : Try to give summation of all the numeric data

In [31]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [32]:
l2=[]

In [33]:

for i in l:
    if type(i) == list or type(i) == tuple or type(i)  == set :
        for j in i:
            if type(j) == int:
               l2.append(j)
for i in l:
    if type(i) == dict:
        for j in i:
            if type(j) == int or type(i[j]) == int :
              l2.append(j)
              l2.append(i[j])
print(l2)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [34]:
total = 0
for j in range(0, len(l2)):
    total = total + l2[j]

print("Summation of all the numeric data in list l is",total)

Summation of all the numeric data in list l is 156

q8 : Try to filter out all the odd values out all numeric data which is a part of a list 

from previous question i got list of all integers which is l2, now using that l2 list to find all odd numbers in list l

In [35]:
for j in l2:
    if j % 2 == 0:
        pass
    else:
        print(j)

1
3
3
5
3
5
7
45
5
23
3
7

q9: Try to extract "ineruon" out of this data

In [36]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [37]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i)== set :
        for j in i:
            if j== "ineuron":
                print(j)
for i in l:
    if type(i) == dict:
        for j,p in i.items():
            if j == "ineuron" :
                print(j)
            if p == "ineuron" :
                print(p)

ineuron
ineuron

q10 :Try to find out a number of occurances of all the data

In [38]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [39]:
l3=[]

In [40]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i)  == set :
        for j in i:
               l3.append(j)
for i in l:
    if type(i) == dict:
        for j in i:
              l3.append(j)
              l3.append(i[j])
print(l3)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'ineuron', 'data science ', 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8]

In [41]:
for i in set(l3):
    print(i, ":", l3.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
k3 : 1
8 : 1
45 : 1
sudh : 1
k2 : 1
kumar : 1
data science  : 1
23 : 1
ineuron : 2

q11 : Try to find out number of keys in dict element

In [42]:
l4= []

In [43]:
for i in l:
    if type(i) == dict:
        for j in i:
            l4.append(j)
print(l4)

['k1', 'k2', 'k3', 3, 7]

In [44]:
number = len(l4)
print("Number of keys in dict element is ", number)

Number of keys in dict element is  5

q12 : Try to filter out all the string data

using list l3 from q10, which contains all the data of list l including keys and values.

In [45]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'ineuron',
 'data science ',
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]

In [46]:
for i in l3:
    if type(i) == str:
        print(i)

ineuron
data science
k1
sudh
k2
ineuron
k3
kumar

q13 : Try to Find  out alphanum in data

here due to limitation of isalnum to return true for both alphabet and numeric data, the desired result cannot be achieved.

In [47]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'ineuron',
 'data science ',
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]

In [48]:
for i in l3:
     if type(i) == str:
        if i.isalnum():
            print(i)

ineuron
k1
sudh
k2
ineuron
k3
kumar

q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

from q7, i got list of all integers which is l2, now using that l2 list to find all odd numbers in list l

In [49]:
l2

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [50]:
product = 1
for i in range(len(l2)):
    product = product * l2[i]
print("multiplication of all numeric value in  the individual collection inside dataset is ", product)

multiplication of all numeric value in  the individual collection inside dataset is  908605071360000

q15 : Try to unwrape all the collection inside collection and create a flat list 

this question is solved as a part of q10 and answer is list l3

In [51]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'ineuron',
 'data science ',
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8]