q1: try to print a prime number in between 1 to 1000.

q2: try to write a func which is equivalent to print function in python.

q3: try to write a func which is replica of list append, extend and pop function.

q4: try to write a lambda func which can return a concatenation of all the string that we will pass.

q5: try to write a lambda func which will return list of squares of all the data bw 1-100

q6: write a 10 different different lambda func with choice of your task

q7: try to write a func which can perform read operation from .txt file

# q1 : Try to print a prime number in between 1 to 1000

In [34]:
l=[]
for num in range(1, 1001):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            l.append(num)
import random 
print("a prime number in between 1 to 1000: ",random.choice(l))

a prime number in between 1 to 1000:  797

# q2 : Try to write a function which  is equivalent  to print function in python

In [35]:
s="shubham"

In [36]:
l=[1,2,3,"a"]

In [37]:
t=(1,2,"a")

In [38]:
se={1,2,"b"}

In [39]:
d = {"name": 1234, "contact": 9876}

In [40]:
def printv2(l):
        return l

In [41]:
a=2
printv2(a)

2

In [42]:
a=2.56
printv2(a)

2.56

In [43]:
a= 3+9j
printv2(a)

(3+9j)

In [44]:
printv2(s)

'shubham'

In [45]:
printv2(l)

[1, 2, 3, 'a']

In [46]:
printv2(t)

(1, 2, 'a')

In [47]:
printv2(se)

{1, 2, 'b'}

In [48]:
printv2(d)

{'name': 1234, 'contact': 9876}

# q3 : Try to write a function which is a replica of list append , extend and pop function

In [49]:
l= [1,2,3,4,5,6]

# Replica of append()

In [50]:
def appendv2(l,a):
    """This is a replica of append functions it takes two arguments first is list and 
    second the object that is required to be appended"""
    l= l + [a]
    return l

In [51]:
appendv2(l,3456)

[1, 2, 3, 4, 5, 6, 3456]

In [52]:
appendv2(l,"shubham")

[1, 2, 3, 4, 5, 6, 'shubham']

In [53]:
appendv2(l,[1,2,3,4,5])

[1, 2, 3, 4, 5, 6, [1, 2, 3, 4, 5]]

# Replica of extend()

In [54]:
def extendv2(l,l1):
    """this is a replica of extend function, it takes two argument(iterables),
    it expands a list(first argument) by appending elements from iterables(second argument)"""
    l3 = []
    if type(l1) == list or type(l1) == str or type(l1) == tuple or type(l1) == set:
        for i in l:
            l3 = l3 + [i]
        for j in l1:
                l3 = l3 + [j]
    if type(l1) == dict:
        for i in l:
            l3 = l3 + [i]
        for k in l1:
            l3 = l3 + [k]
    return l3

In [55]:
l= [1,2,3,4,5]

In [56]:
s="shubham"

In [57]:
extendv2(l,s)

[1, 2, 3, 4, 5, 's', 'h', 'u', 'b', 'h', 'a', 'm']

In [58]:
l1 = [11,22,33,44,55,66]

In [59]:
extendv2(l,l1)

[1, 2, 3, 4, 5, 11, 22, 33, 44, 55, 66]

In [60]:
t =(55,"shubh", 678)

In [61]:
extendv2(l,t)

[1, 2, 3, 4, 5, 55, 'shubh', 678]

In [62]:
se = {"a","b",33,44,66,77}

In [63]:
extendv2(l,se)

[1, 2, 3, 4, 5, 33, 66, 77, 'a', 44, 'b']

In [64]:
d = {123:"shubham", "name": 4565677}

In [65]:
extendv2(l,d)

[1, 2, 3, 4, 5, 123, 'name']

# replica of pop()

In [66]:
l=[1,2,3,4,5,6]

In [67]:
def popindexv2(l,a):
    """this is a replica of pop function, it takes two argument, a list and an index to pop, it 
    retuens a list without the object at specified index """
    l3 = []
    for i in range(0,a):
        l3 = l3 +[l[i]]
    for i in range(a+1, len(l)):
        l3 = l3 + [l[i]]
    l = l3
    return  l

In [68]:
popindexv2(l, 2)

[1, 2, 4, 5, 6]

In [69]:
l

[1, 2, 3, 4, 5, 6]

In [70]:
def popv2(l):
    """This pop function doesnot uses index and removes last 
    object in list by default"""
    l3 = []
    for i in range(0,len(l) - 1):
        l3 = l3 + [l[i]]
    l = l3
    return  l

In [71]:
popv2(l)

[1, 2, 3, 4, 5]

# q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [72]:
sc= lambda a,b,c,d,e,f : a+b+c+d+e+f
sc("shubham", "ramesh","curry","mogli","baghira","kirk")

'shubhamrameshcurrymoglibaghirakirk'

# q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [73]:
n1 = lambda x : [i**2 for i in range(1,x)]

In [74]:
n1(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# q6 : Try to write a 10 Different different example of lambda function with a choice of your task

 1: if string startswith a particular letter.

In [75]:
p1= lambda a : True if a.startswith("s") else False

In [76]:
p1('shubham')

True

In [77]:
p1("curry")

False

2. if a particular string is numeric

In [78]:
p2= lambda a : True if a.isnumeric() else False

In [79]:
p2("123456")

True

In [80]:
p2("shubham")

False

3. sort a list of tuples having fruit name and its quantity using Lambda.

In [81]:
l=[("mango",99),("orange",80), ("grapes", 1000)]
l.sort(key= lambda x : x[1])
print("sorted data: ",l)

sorted data:  [('orange', 80), ('mango', 99), ('grapes', 1000)]

4. adding new elements in given tuple

In [82]:
p4 = lambda a, *b : a+b

In [83]:
p4((1,2,3,4,5),8,8,9,9,"sam","gsw",99,[1,"mango"])

(1, 2, 3, 4, 5, 8, 8, 9, 9, 'sam', 'gsw', 99, [1, 'mango'])

4. find cube root and square root of numbers from 1 to 10

In [84]:
sr = lambda *x : [i**0.5 for i in x]
sr(1,2,3,4,5,6,7,8,9,10)

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [85]:
cr = lambda *y : [i**0.3333333 for i in y]
cr(1,2,3,4,5,6,7,8,9,10)

[1.0,
 1.259921020784516,
 1.4422495174916392,
 1.587400978614697,
 1.7099758549400288,
 1.8171204843040418,
 1.9129310586926531,
 1.9999998613705687,
 2.0800836707048664,
 2.154434524672917]

5. check if given number is even or odd

In [86]:
even = lambda x : x % 2 == 0

In [87]:
even(55)

False

In [88]:
even(54)

True

In [89]:
odd = lambda x : x % 2 != 0

In [90]:
odd(99)

True

In [91]:
odd(98)

False

6. filter Even and Odd no. from a list into different list:

In [92]:
def sortlist(l):
    """Function to get seperate list of Even and Odd Numbers"""
    even = list(filter(lambda x : x % 2 == 0 , l))
    print("List of Even No is: ",even)
    odd = list(filter(lambda x : x % 2 != 0 , l ))
    print("List of Odd No is: ",odd)

In [93]:
sortlist([1,2,3,4,5,6,7,8,9,10])

List of Even No is:  [2, 4, 6, 8, 10]
List of Odd No is:  [1, 3, 5, 7, 9]

7. Multiplication table of any number.

In [94]:
t = lambda n : [i * n for i in range(1,11)]

In [95]:
t(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [96]:
t(66)

[66, 132, 198, 264, 330, 396, 462, 528, 594, 660]

8. Square and cubes of a list of integers

In [97]:
def scubes(l):
    squares = list(map(lambda x : x**2 , l))
    print("squares of numbers in given list is: ", squares)
    cubes = list(map(lambda x : x**3 , l))
    print("cubes of numbers in given list is: ", cubes)

In [98]:
scubes([1,2,3,4,5,6,7,8,9,10])

squares of numbers in given list is:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
cubes of numbers in given list is:  [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

9. sort a list into positive and negative integers

In [99]:
def sortint(l):
    """Function to get seperate list of Even and Odd Numbers"""
    pos = list(filter(lambda x : x if x > 0 else 0, l))
    print("List of Positive Integers is: ",pos)
    neg = list(filter(lambda x : x if x < 0 else 0 , l ))
    print("List of Negative Integers is: ",neg)

In [100]:
sortint([1,2,3,4,5,6,-1,-2,-3,-4,-5,0])

List of Positive Integers is:  [1, 2, 3, 4, 5, 6]
List of Negative Integers is:  [-1, -2, -3, -4, -5]

10. comparing two numbers and return ing greatest

In [101]:
p10 = lambda a,b : a if a > b else b

In [102]:
p10(99,1999)

1999

In [103]:
p10(8888,1234)

8888

# q7 : Try to write a funtion which can perform a read operation from .txt file

In [104]:
file = open(r"C:\Users\Shubham\Downloads\test\curry.txt","r")
file.read()

'Wardell Stephen "Steph" Curry II, born March 14, 1988, is an American professional basketball player for the Golden \nState Warriors of the National Basketball Association (NBA). Widely regarded as one of the greatest basketball \nplayers of all time, and as the greatest shooter in NBA history, Curry is credited with revolutionizing the sport \nby inspiring teams and players to routinely utilize the three-point shot. An eight-time NBA All-Star and eight-time \nAll-NBA selection, including four times on the first team, he has been named the NBA  Most Valuable Player (MVP) twice\nand has won three NBA championships.'

In [105]:
file.close()