List Exercise

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

1 . Try to reverse a list

2. try to access 234 out of this list

3 . try to access 456 

4 . Try to extract only a list collection form list l 

5 . Try to extract "sudh"

6 . Try to list all the key in dict element avaible in list 

7 . Try to extract all the value element form dict available in list

In [42]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

1 . Try to reverse a list

In [43]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

2. try to access 234 out of this list

In [44]:
l2=l[8]

In [45]:
l2

{'key1': 'sudh', 234: [23, 45, 656]}

In [49]:
for i in l2:
    if i == 234:
        print(i)

234

3. try to access 456

In [50]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [52]:
l[5][1]

456

4. Try to extract only a list collection form list l

In [53]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [56]:
l5=l[5],l[6]

In [57]:
l5

([23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9])

5. Try to extract "sudh"

In [58]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [59]:
l[8]["key1"]

'sudh'

6. Try to list all the key in dict element avaible in list

In [60]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [61]:
l3=l[8]

In [62]:
l3.keys()

dict_keys(['key1', 234])

7 . Try to extract all the value element form dict available in list

In [63]:
l3.values()

dict_values(['sudh', [23, 45, 656]])