In [1]:
import pandas as pd

In [217]:
df_per = pd.read_excel('Agent_Performance.xlsx')

In [5]:
df_per

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [253]:
df_log = pd.read_excel('Agent_Login_Report.xls')

In [254]:
df_log

     SL No               Agent       Date   Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
4        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
..     ...                 ...        ...          ...          ...        ...
995    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
996    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
999   1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

### converted date into date_type

In [ ]:
df_per['converted_date'] = pd.to_datetime(df_per['Date'])

### 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
**here no of weeks is 22/5 = 4.4**

In [237]:
df_per.groupby('Agent Name')['Average Rating'].sum()/ 4.4

Agent Name
Abhishek          0.000000
Aditya            0.000000
Aditya Shinde    12.275000
Aditya_iot       15.990909
Amersh            0.000000
                   ...
Uday Mishra       0.000000
Vasanth P         0.000000
Vivek             3.413636
Wasim            16.363636
Zeeshan          15.593182
Name: Average Rating, Length: 70, dtype: float64

In [238]:
print("Agent Name", ":", "Average Rating")
for i, j in zip(sorted(list(df_per['Agent Name'].unique())),df_per.groupby('Agent Name')['Average Rating'].sum()/ 22):
    print(i,":",j)

Agent Name : Average Rating
Abhishek  : 0.0
Aditya  : 0.0
Aditya Shinde : 2.455
Aditya_iot  : 3.1981818181818182
Amersh  : 0.0
Ameya Jain : 3.026818181818182
Anirudh  : 0.8795454545454546
Ankit Sharma : 0.0
Ankitjha  : 0.36363636363636365
Anurag Tiwari : 0.25
Aravind  : 2.9745454545454546
Ashad Nasim : 0.22727272727272727
Ashish  : 0.0
Ayushi Mishra : 4.748181818181819
Bharath  : 4.068636363636364
Boktiar Ahmed Bappy : 4.865454545454545
Chaitra K Hiremath : 1.179090909090909
Deepranjan Gupta : 3.936363636363636
Dibyanshu  : 0.0
Harikrishnan Shaji : 3.5995454545454546
Hitesh Choudhary : 0.0
Hrisikesh Neogi : 4.276818181818182
Hyder Abbas : 0.0
Ineuron Intelligence  : 0.0
Ishawant Kumar : 4.831818181818182
Jawala Prakash : 4.734545454545454
Jayant Kumar : 1.4572727272727273
Jaydeep Dixit : 4.318636363636364
Khushboo Priya : 5.050454545454546
Madhulika G : 4.7709090909090905
Mahak  : 0.13636363636363635
Mahesh Sarade : 3.2731818181818184
Maitry  : 3.9913636363636367
Maneesh  : 0.22727272727272727
Manjunatha A : 4.901818181818182
Mithun S : 3.216818181818182
Mukesh  : 0.42227272727272724
Mukesh Rao  : 0.34863636363636363
Muskan Garg : 0.9713636363636364
Nandani Gupta : 3.9868181818181823
Nishtha Jain : 4.475909090909091
Nitin M : 0.0
Prabir Kumar Satapathy : 3.4231818181818183
Prateek _iot  : 3.325
Prerna Singh : 4.408181818181818
Rishav Dash : 3.891363636363636
Rohan  : 0.0
Saif Khan : 0.0
Saikumarreddy N : 2.700454545454545
Samprit  : 0.0
Sandipan Saha : 0.5850000000000001
Sanjeev Kumar : 4.613181818181818
Sanjeevan  : 0.0
Saurabh Shukla : 0.7577272727272728
Shiva Srivastava : 1.288181818181818
Shivan K : 3.8745454545454545
Shivan_S  : 0.19318181818181818
Shivananda Sonwane : 5.771818181818182
Shubham Sharma : 4.398181818181818
Sowmiya Sivakumar : 1.7181818181818185
Spuri  : 0.0
Sudhanshu Kumar : 0.45454545454545453
Suraj S Bilgi : 0.4254545454545454
Swati  : 3.305
Tarun  : 0.06818181818181818
Uday Mishra : 0.0
Vasanth P : 0.0
Vivek  : 0.6827272727272727
Wasim  : 3.272727272727273
Zeeshan  : 3.1186363636363637

### 2 .Total working days for each agents

In [ ]:
df_per_1 =  df_per[df_per['Total Chats'] > 0]

In [80]:
df_per_1.groupby('Agent Name')['Total Chats'].count()

Agent Name
Aditya Shinde             12
Aditya_iot                17
Ameya Jain                15
Anirudh                    7
Ankitjha                   3
Anurag Tiwari              2
Aravind                   14
Ashad Nasim                2
Ayushi Mishra             24
Bharath                   19
Boktiar Ahmed Bappy       26
Chaitra K Hiremath         6
Deepranjan Gupta          21
Dibyanshu                  1
Harikrishnan Shaji        19
Hitesh Choudhary           1
Hrisikesh Neogi           21
Ishawant Kumar            24
Jawala Prakash            25
Jayant Kumar               8
Jaydeep Dixit             21
Khushboo Priya            26
Madhulika G               24
Mahak                      1
Mahesh Sarade             18
Maitry                    20
Maneesh                    3
Manjunatha A              25
Mithun S                  18
Mukesh                     2
Mukesh Rao                 3
Muskan Garg                5
Nandani Gupta             21
Nishtha Jain              23
Prabir Kumar Satapathy    17
Prateek _iot              17
Prerna Singh              22
Rishav Dash               21
Saikumarreddy N           13
Samprit                    1
Sandipan Saha              3
Sanjeev Kumar             23
Saurabh Shukla             4
Shiva Srivastava           7
Shivan K                  22
Shivan_S                   1
Shivananda Sonwane        28
Shubham Sharma            21
Sowmiya Sivakumar          9
Sudhanshu Kumar            2
Suraj S Bilgi              2
Swati                     17
Tarun                      1
Vivek                      5
Wasim                     16
Zeeshan                   16
Name: Total Chats, dtype: int64

### 3. Total query that a agent has taken

In [23]:
df_per.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

### 4. total Feedback that a agent has received

In [24]:
df_per.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [100]:
df_per.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date'],
      dtype='object')

### 5. agent name who have average rating between 3.5 to 4

In [127]:
df_per[(df_per['Average Rating'] > 3.5) & (df_per['Average Rating'] < 4)]['Agent Name']

4                    Swati
10             Manjunatha A
76            Prateek _iot
78            Nandani Gupta
80            Jaydeep Dixit
               ...
1869    Boktiar Ahmed Bappy
1874          Ayushi Mishra
1941         Jawala Prakash
2021          Aditya Shinde
2023       Deepranjan Gupta
Name: Agent Name, Length: 78, dtype: object

### 6 . Agent name who have rating lesss then 3.5

In [150]:
df_per[(df_per['Average Rating'] < 3.5) ]['Agent Name']

1            Nandani Gupta
19        Hitesh Choudhary
20              Sanjeevan
21                Anirudh
22        Shiva Srivastava
               ...
2155     Sowmiya Sivakumar
2156               Nitin M
2157                Vivek
2158         Ayushi Mishra
2159    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

### 7 . agent name who have rating more then 4.5

In [151]:
df_per[(df_per['Average Rating'] > 4.5) ]['Agent Name']

2               Ameya Jain
3            Mahesh Sarade
5                  Mukesh
6          Saikumarreddy N
7            Sanjeev Kumar
               ...
2100        Shubham Sharma
2101         Jaydeep Dixit
2102    Shivananda Sonwane
2103        Khushboo Priya
2104       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

### 8 . how many feedaback agents have received more then 4.5 average

In [158]:
count = 0
for i in df_per.groupby('Agent Name')['Total Feedback'].sum()/ 22 > 4.5:
    if i == True:
        count += 1
print(count)

34

In [160]:
df_per.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date'],
      dtype='object')

In [219]:
df_per.dtypes

SL No                               int64
Date                               object
Agent Name                         object
Total Chats                         int64
Average Response Time              object
Average Resolution Time            object
Average Rating                    float64
Total Feedback                      int64
converted_date             datetime64[ns]
dtype: object

### 9 . average weekly response time for each agent

In [220]:
df_per['Average Response Time']=pd.to_datetime(df_per['Average Response Time'])

In [222]:
df_per['AResponseT_hour'] = df_per['Average Response Time'].dt.hour

In [224]:
df_per['AResponseT_minute'] = df_per['Average Response Time'].dt.minute

In [225]:
df_per['AResponseT_second'] = df_per['Average Response Time'].dt.second

**here weekly response time for each agent is in minutes**

In [235]:

((df_per.groupby('Agent Name')['AResponseT_hour'].sum()*3600) +
(df_per.groupby('Agent Name')['AResponseT_minute'].sum()*60) +
(df_per.groupby('Agent Name')['AResponseT_second'].sum())/60)/4.4

Agent Name
Abhishek           0.000000
Aditya             0.000000
Aditya Shinde    137.469697
Aditya_iot        84.314394
Amersh             0.000000
                    ...
Uday Mishra        0.000000
Vasanth P          0.000000
Vivek             55.193182
Wasim             83.829545
Zeeshan          302.015152
Length: 70, dtype: float64

### 10 . average weekely resolution time for each agents

In [239]:
df_per['Average Resolution Time']=pd.to_datetime(df_per['Average Resolution Time'])

In [240]:
df_per['AReslnT_hour'] = df_per['Average Resolution Time'].dt.hour

In [241]:
df_per['AReslnT_minute'] = df_per['Average Resolution Time'].dt.minute

In [242]:
df_per['AReslnT_second'] = df_per['Average Resolution Time'].dt.second

**here weekely resolution time for each agents  is in minutes**

In [244]:
((df_per.groupby('Agent Name')['AReslnT_hour'].sum()*3600) +
(df_per.groupby('Agent Name')['AReslnT_minute'].sum()*60) +
(df_per.groupby('Agent Name')['AReslnT_second'].sum())/60)/4.4

Agent Name
Abhishek            0.000000
Aditya              0.000000
Aditya Shinde    4160.299242
Aditya_iot       3888.556818
Amersh              0.000000
                    ...
Uday Mishra         0.000000
Vasanth P           0.000000
Vivek            1009.632576
Wasim            4583.734848
Zeeshan          4310.575758
Length: 70, dtype: float64

### 11 . list of all agents name

In [206]:
sorted(list(df_per['Agent Name'].unique()))

['Abhishek ',
 'Aditya ',
 'Aditya Shinde',
 'Aditya_iot ',
 'Amersh ',
 'Ameya Jain',
 'Anirudh ',
 'Ankit Sharma',
 'Ankitjha ',
 'Anurag Tiwari',
 'Aravind ',
 'Ashad Nasim',
 'Ashish ',
 'Ayushi Mishra',
 'Bharath ',
 'Boktiar Ahmed Bappy',
 'Chaitra K Hiremath',
 'Deepranjan Gupta',
 'Dibyanshu ',
 'Harikrishnan Shaji',
 'Hitesh Choudhary',
 'Hrisikesh Neogi',
 'Hyder Abbas',
 'Ineuron Intelligence ',
 'Ishawant Kumar',
 'Jawala Prakash',
 'Jayant Kumar',
 'Jaydeep Dixit',
 'Khushboo Priya',
 'Madhulika G',
 'Mahak ',
 'Mahesh Sarade',
 'Maitry ',
 'Maneesh ',
 'Manjunatha A',
 'Mithun S',
 'Mukesh ',
 'Mukesh Rao ',
 'Muskan Garg',
 'Nandani Gupta',
 'Nishtha Jain',
 'Nitin M',
 'Prabir Kumar Satapathy',
 'Prateek _iot ',
 'Prerna Singh',
 'Rishav Dash',
 'Rohan ',
 'Saif Khan',
 'Saikumarreddy N',
 'Samprit ',
 'Sandipan Saha',
 'Sanjeev Kumar',
 'Sanjeevan ',
 'Saurabh Shukla',
 'Shiva Srivastava',
 'Shivan K',
 'Shivan_S ',
 'Shivananda Sonwane',
 'Shubham Sharma',
 'Sowmiya Sivakumar',
 'Spuri ',
 'Sudhanshu Kumar',
 'Suraj S Bilgi',
 'Swati ',
 'Tarun ',
 'Uday Mishra',
 'Vasanth P',
 'Vivek ',
 'Wasim ',
 'Zeeshan ']

In [207]:
df_per.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback',
       'converted_date'],
      dtype='object')

### 12 . percentage of chat on which they have received a feedback

**percentage of chat on which they have received a feedback = ((total chats - total feedbacks)/total chats)*100**

In [275]:
((
        ((df_per.groupby('Agent Name')['Total Chats'].sum())-(df_per.groupby('Agent Name')['Total Feedback'].sum()))/
        (df_per.groupby('Agent Name')['Total Chats'].sum())
))*100

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    44.765343
Aditya_iot       43.290043
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            54.545455
Wasim            34.411085
Zeeshan          38.191882
Length: 70, dtype: float64

In [247]:
df_log.dtypes

SL No           int64
Agent          object
Date           object
Login Time     object
Logout Time    object
Duration       object
dtype: object

### 13 . Total contributation hour for each and every agents weekly basis

In [256]:
df_log['modified_Duration']=(pd.to_datetime(df_log.Date) + pd.to_timedelta(df_log.Duration))

In [257]:
df_log['Duration_hour'] = df_log['modified_Duration'].dt.hour

In [258]:
df_log['Duration_minute'] =df_log['modified_Duration'].dt.minute

In [259]:
df_log['Duration_second'] = df_log['modified_Duration'].dt.second

In [263]:
((df_log.groupby('Agent')['Duration_hour'].sum()) +
(df_log.groupby('Agent')['Duration_minute'].sum()/60) +
(df_log.groupby('Agent')['Duration_second'].sum())/3600)/4.4

Agent
Aditya Shinde              0.008207
Aditya_iot                 3.575253
Amersh                     0.696338
Ameya Jain                 9.562626
Ankitjha                   0.515215
Anurag Tiwari              0.631566
Aravind                    5.522538
Ayushi Mishra              8.664015
Bharath                   10.926515
Boktiar Ahmed Bappy        9.151957
Chaitra K Hiremath         7.801263
Deepranjan Gupta          24.153472
Dibyanshu                 11.953598
Harikrishnan Shaji        12.207891
Hrisikesh Neogi           13.083775
Hyder Abbas                0.088194
Ineuron Intelligence       0.329230
Ishawant Kumar            11.767929
Jawala Prakash            10.545960
Jaydeep Dixit              8.145581
Khushboo Priya             9.899684
Madhulika G               10.468245
Mahesh Sarade              9.754987
Maitry                     7.032955
Manjunatha A               9.380619
Mithun S                  10.266730
Mukesh                     2.023864
Muskan Garg                3.939899
Nandani Gupta              9.130051
Nishtha Jain               9.966540
Nitin M                    0.181566
Prabir Kumar Satapathy     7.585732
Prateek _iot               4.185922
Prerna Singh              10.389899
Rishav Dash                9.494444
Saikumarreddy N            9.803977
Sanjeev Kumar             10.156187
Saurabh Shukla             3.787058
Shiva Srivastava           3.407765
Shivan K                   8.205051
Shivananda Sonwane        11.201768
Shubham Sharma            12.226894
Sowmiya Sivakumar         10.171402
Sudhanshu Kumar           10.507071
Suraj S Bilgi              2.854356
Swati                      5.682071
Tarun                      2.304293
Wasim                     10.949811
Zeeshan                   11.156503
dtype: float64

### 14. total percentage of active hour for a month 

**considering 7 active hours in a day so in 22 days total active hours = 154**

In [264]:
(((df_log.groupby('Agent')['Duration_hour'].sum()) +
(df_log.groupby('Agent')['Duration_minute'].sum()/60) +
(df_log.groupby('Agent')['Duration_second'].sum())/3600)/154)*100

Agent
Aditya Shinde              0.023449
Aditya_iot                10.215007
Amersh                     1.989538
Ameya Jain                27.321789
Ankitjha                   1.472042
Anurag Tiwari              1.804473
Aravind                   15.778680
Ayushi Mishra             24.754329
Bharath                   31.218615
Boktiar Ahmed Bappy       26.148449
Chaitra K Hiremath        22.289322
Deepranjan Gupta          69.009921
Dibyanshu                 34.153139
Harikrishnan Shaji        34.879690
Hrisikesh Neogi           37.382215
Hyder Abbas                0.251984
Ineuron Intelligence       0.940657
Ishawant Kumar            33.622655
Jawala Prakash            30.131313
Jaydeep Dixit             23.273088
Khushboo Priya            28.284812
Madhulika G               29.909271
Mahesh Sarade             27.871392
Maitry                    20.094156
Manjunatha A              26.801768
Mithun S                  29.333514
Mukesh                     5.782468
Muskan Garg               11.256854
Nandani Gupta             26.085859
Nishtha Jain              28.475830
Nitin M                    0.518759
Prabir Kumar Satapathy    21.673521
Prateek _iot              11.959776
Prerna Singh              29.685426
Rishav Dash               27.126984
Saikumarreddy N           28.011364
Sanjeev Kumar             29.017677
Saurabh Shukla            10.820166
Shiva Srivastava           9.736472
Shivan K                  23.443001
Shivananda Sonwane        32.005051
Shubham Sharma            34.933983
Sowmiya Sivakumar         29.061147
Sudhanshu Kumar           30.020202
Suraj S Bilgi              8.155303
Swati                     16.234488
Tarun                      6.583694
Wasim                     31.285173
Zeeshan                   31.875722
dtype: float64