### pip install mysql-connector-python

### pip install pymongo

### pip install csvkit

In [1]:
import pandas as pd
import mysql.connector as con
import pymongo 
import json

### 1.a Reading dataset into pandas

In [2]:
df_fb = pd.read_csv('FitBitdata.csv')

In [3]:
df_fb

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

### 1.b Reading dataset into pmongodb

In [12]:
df_fb.to_json('fitbit_data.json')

In [18]:
client = pymongo.MongoClient("mongodb+srv://sam01091994:Shub1994@clustershub.jujlbeo.mongodb.net/?retryWrites=true&w=majority")
dbmongo = client.test

In [19]:
database = client['Fitbit_dataset']
collection = database['fitbit_table']

In [20]:
with open('fitbit_data.json') as file:
    file_data = json.load(file)

if isinstance(file_data, list):
        collection.insert_many(file_data)
else:
        collection.insert_one(file_data)

### 2. Reading dataset into My_SQL

### Using `csvkit` in `anaconda prompt` to create table and load data into table.

1. First installed `mysqlclient` as it was giving error in `mysql-connector-python` **pip install mysqlclient**
2. Then installed `csvkit` **pip install csvkit**
3. Then created database `fitbit_database` in mysql **create database fitbit_database**
4. Then by using **csvsql --db mysql+mysqldb://root:123456@localhost:3306/fitbit_database --tables fitbit_data_table --insert FitBitdata.csv** created table `fitbit_data_table` and loaded data into it from csv file `FitBitdata.csv`

### 3. convert all the dates avaible in dataset to timestamp format in pandas and in sql convert it in date format

In [14]:
mydb = con.connect(host= 'localhost', user = 'root', passwd = '123456')
cursor = mydb.cursor()

**In MySql ActivityDate column is already in date format**

1. Following query can be used to convert to date format.

**SELECT `from_unixtime(column_name, %Y-%m-%d)` AS `new_column_name` FROM `Table_name`**

**For Example**

query = "select from_unixtime(ActivityDate, %Y-%m-%d) AS Converted_ActivityDate FROM fitbit_data_table"
        
cursor.execute(query)

In [24]:
df_fb['Converted_ActivityDate'] = pd.to_datetime(df_fb['ActivityDate'])

In [26]:
df_fb.dtypes

Id                                   int64
ActivityDate                        object
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
Converted_ActivityDate      datetime64[ns]
dtype: object

### 4 . Find out in this data that how many unique id's we have

In [56]:
count = 0
for i in list(df_fb['Id'].unique()):
    count += 1
print("Total no of unique Id are: ", count)

Total no of unique Id are:  35

In [53]:
len(df_fb['Id'].unique())

35

### 5 . Which id is one of the active id that you have in whole dataset

In [84]:
df_fb.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

### 6 . how many of them have not logged there activity find out in terms of number of ids 

**Ans:** 29 persons have not logged there activity out of 35 total persons

In [91]:
df_fb.groupby('Id')['LoggedActivitiesDistance'].sum() <= 0

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912    False
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [103]:
df_fb.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x : x <= 0).value_counts()

True     29
False     6
Name: LoggedActivitiesDistance, dtype: int64

### 7 . Find out who is the laziest person id that we have in dataset

In [5]:
print("Id's of persons who have ")
for i,sum in zip(sorted(list(df_fb['Id'].unique())),df_fb.groupby('Id')['VeryActiveMinutes'].sum()):
    if sum == 0:
        print(i)

Id's of persons who have
1927972279
2026352035
2891001357
4388161847

### 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 

**Assumptions** Considering more than 2500 calories burn per day for male and female as healthy

**Ans:** 26 persons can be considered healthy as per our assumption out of 35 total persons.

In [9]:
df_fb.groupby('Id')['Calories'].mean().apply(lambda calories : calories >= 2500).value_counts()

False    26
True      9
Name: Calories, dtype: int64

### 9. How many person are not a regular person with respect to activity try to find out those 

**Assumptions** Considering only Very active minutes and fairly active minutes for this as light active minutes cannot be considered as activity(For health as it comprises of mostly household task and office work, etc)
creating a new colum which is summation of Very active minutes and fairly active minutes and persons who have zero value for this will be considered as not a regular active person.

**Ans:** 32 Persons are there who are not regular in respect of activity

In [11]:
df_fb.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories'],
      dtype='object')

In [12]:
df_fb['Total_activity_time'] = df_fb['VeryActiveMinutes'] + df_fb['FairlyActiveMinutes']

In [24]:
len(df_fb[df_fb['Total_activity_time'] == 0]['Id'].unique())

32

### 10. Who is the third most active person in this dataset find out those in pandas and in sql both.

In [36]:
Activity_list_Active = sorted(zip(sorted(list(df_fb['Id'].unique())),df_fb.groupby('Id')['Total_activity_time'].sum()), key = lambda x: x[1], reverse = True)

In [37]:
Activity_list_Active

[(5577150313, 1210),
 (8053475328, 1058),
 (8877689391, 983),
 (1503960366, 982),
 (6962181067, 901),
 (8378563200, 789),
 (2022484408, 751),
 (7007744171, 731),
 (2891001357, 660),
 (6775888955, 622),
 (1644430081, 583),
 (7086361926, 527),
 (2347167796, 524),
 (3977333714, 521),
 (5553957443, 483),
 (4020332650, 375),
 (4702921684, 303),
 (4319703577, 298),
 (4057192912, 209),
 (6290855005, 185),
 (3372868164, 153),
 (2873212765, 133),
 (8253242879, 126),
 (4445114986, 90),
 (4558609924, 85),
 (8792009665, 83),
 (6391747486, 52),
 (6117666160, 46),
 (1624580081, 25),
 (2320127002, 24),
 (1927972279, 20),
 (8583815059, 20),
 (1844505072, 18),
 (2026352035, 0),
 (4388161847, 0)]

In [49]:
print("Third most active person's id is: ", Activity_list_Active[2][0])

Third most active person's id is:  8877689391

### Solving above example i have created two views 
1. First view is `Total_activity`, in this i have calculated `sum of VeryActiveMinutes and FairlyActiveMinutes` as `Total_activity_time` and view contains Id and Total_activity_time. 
2. Second view is `sum_activity`, in this i have `grouped by Id` and created a `column sum(Total_activity_time) as sum_total_activity_time` for summation of total activity time by each Id.
3. Using Second view i have `ordered` the view by `sum_total_activity_time` and got the answer.

**The SQL query is as below**

**View Total_activity**

create view Total_activity as

select Id, ( VeryActiveMinutes + FairlyActiveMinutes) as Total_activity_time

from fitbit_data_table  ;

**View sum_activity**

create view sum_activity as

select Id, sum(Total_activity_time) as sum_total_activity_time

from Total_activity

group by Id ;

**Order by on  sum_activity**

select Id 

from sum_activity

order by  sum_total_activity_time desc limit 1 offset 2 ;

### 11. who is the 5th most laziest person avilable in dataset find it out

In [40]:
Activity_list_Lazy = sorted(zip(sorted(list(df_fb['Id'].unique())),df_fb.groupby('Id')['Total_activity_time'].sum()), key = lambda x: x[1])

In [41]:
Activity_list_Lazy

[(2026352035, 0),
 (4388161847, 0),
 (1844505072, 18),
 (1927972279, 20),
 (8583815059, 20),
 (2320127002, 24),
 (1624580081, 25),
 (6117666160, 46),
 (6391747486, 52),
 (8792009665, 83),
 (4558609924, 85),
 (4445114986, 90),
 (8253242879, 126),
 (2873212765, 133),
 (3372868164, 153),
 (6290855005, 185),
 (4057192912, 209),
 (4319703577, 298),
 (4702921684, 303),
 (4020332650, 375),
 (5553957443, 483),
 (3977333714, 521),
 (2347167796, 524),
 (7086361926, 527),
 (1644430081, 583),
 (6775888955, 622),
 (2891001357, 660),
 (7007744171, 731),
 (2022484408, 751),
 (8378563200, 789),
 (6962181067, 901),
 (1503960366, 982),
 (8877689391, 983),
 (8053475328, 1058),
 (5577150313, 1210)]

**Since index 0,1 and 4,5 have same value so the seventh indexed person will be fifth laziest**

In [50]:
print("Fifth most laziest person's id is: ", Activity_list_Lazy[7][0])

Fifth most laziest person's id is:  6117666160

### 12. what is a total acumulative calories burn for a person find out

In [29]:
df_fb.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64