In [1]:
import pandas as pd

# Published Tenders Sheet

In [2]:
dfpub = pd.read_excel("TD2222.xlsx", sheet_name= 'pub')

In [3]:
dfpub.describe()

,S No,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days)
count,3134.000000,3134.000000,3.134000e+03,3.134000e+03,3134.000000,734.000000,734.000000
mean,1567.500000,1.287492,4.255584e+07,3.743238e+04,4.595724,27.878747,46.388283
std,904.852198,0.452665,6.102115e+08,4.768633e+05,3.337719,36.500504,39.309843
min,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,6.000000
25%,784.250000,1.000000,4.796248e+05,0.000000e+00,2.000000,1.000000,20.250000
50%,1567.500000,1.000000,1.138230e+06,0.000000e+00,4.000000,13.000000,32.000000
75%,2350.750000,2.000000,3.131816e+06,0.000000e+00,6.000000,45.000000,65.000000
max,3134.000000,2.000000,2.458480e+10,2.000000e+07,26.000000,258.000000,279.000000

In [76]:
dfpub.head(5)

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),Tender Status,Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
0,1,2021_WCL_203320_1,Works,Open Tender,Item Rate,1,2562665,0,Expired,AOC,6,NaN,NaN,Western Coalfields Limited||CHP||CHP_Civil
1,2,2021_WCL_203656_1,Goods,Single,Item Wise,2,4085000,0,Published,Financial Bid Opening,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
2,3,2021_WCL_203659_1,Goods,Single,Item Wise,2,6993000,0,Expired,AOC,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
3,4,2021_WCL_203661_1,Goods,Single,Item Wise,2,1046772,0,Expired,AOC,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
4,5,2021_WCL_203680_1,Goods,Open Limited,Item Wise,2,386500,0,Expired,AOC,16,0.0,17.0,Western Coalfields Limited||CHP||CHP_MM

In [4]:
dfpub.groupby('Tender Category')['Tender Category'].value_counts()

Tender Category  Tender Category
Goods            Goods               407
Services         Services            208
Works            Works              2519
Name: Tender Category, dtype: int64

In [5]:
len(dfpub[dfpub['Tender Category'] == 'Goods'])

407

In [6]:
len(dfpub[dfpub['Tender Category'] == 'Services'])

208

In [7]:
len(dfpub[dfpub['Tender Category'] == 'Works'])

2519

In [8]:
dfpubg = dfpub[dfpub['Tender Category'] == 'Goods']

In [9]:
dfpubg.groupby('Tender Type')['Tender Type'].value_counts()

Tender Type   Tender Type
Open Limited  Open Limited     84
Open Tender   Open Tender     157
Single        Single          166
Name: Tender Type, dtype: int64

In [10]:
dfpubg.groupby('Form of Contract')['Form of Contract'].value_counts()

Form of Contract    Form of Contract
Item Rate           Item Rate               5
Item Wise           Item Wise             380
Tender cum Auction  Tender cum Auction     22
Name: Form of Contract, dtype: int64

In [11]:
dfpubs = dfpub[dfpub['Tender Category'] == 'Services']

In [12]:
dfpubs.groupby('Tender Type')['Tender Type'].value_counts()

Tender Type   Tender Type
Limited       Limited           4
Open Limited  Open Limited      1
Open Tender   Open Tender     199
Single        Single            4
Name: Tender Type, dtype: int64

In [13]:
dfpubs.groupby('Form of Contract')['Form of Contract'].value_counts()

Form of Contract    Form of Contract
EOI                 EOI                     1
Item Rate           Item Rate              72
Item Wise           Item Wise               5
Percentage          Percentage            129
Tender cum Auction  Tender cum Auction      1
Name: Form of Contract, dtype: int64

In [14]:
dfpubw = dfpub[dfpub['Tender Category'] == 'Works']

In [15]:
dfpubw.groupby('Tender Type')['Tender Type'].value_counts()

Tender Type  Tender Type
Limited      Limited           3
Open Tender  Open Tender    2512
Single       Single            2
Turnkey      Turnkey           2
Name: Tender Type, dtype: int64

In [16]:
dfpubw.groupby('Form of Contract')['Form of Contract'].value_counts()

Form of Contract  Form of Contract
Fixed-rate        Fixed-rate             7
Item Rate         Item Rate           2281
Item Wise         Item Wise            130
Percentage        Percentage           101
Name: Form of Contract, dtype: int64

In [17]:
dfpub.groupby('Tender Category')['Tender Status'].value_counts()

Tender Category  Tender Status
Goods            Published         256
                 Expired            94
                 Cancelled          53
                 Retender            4
Services         Expired           117
                 Cancelled          49
                 Published          42
Works            Expired          1633
                 Published         598
                 Cancelled         282
                 Retender            6
Name: Tender Status, dtype: int64

In [18]:
dfretender = dfpub[dfpub['Tender Status'] == 'Retender']

In [19]:
dfretender.groupby('Tender Category')['Form of Contract'].value_counts()

Tender Category  Form of Contract
Goods            Item Wise             3
                 Tender cum Auction    1
Works            Item Rate             4
                 Percentage            2
Name: Form of Contract, dtype: int64

In [20]:
dfretender.groupby('Tender Category')['Tender Type'].value_counts()

Tender Category  Tender Type
Goods            Open Tender    2
                 Single         2
Works            Open Tender    6
Name: Tender Type, dtype: int64

In [21]:
dfpub.groupby('Tender Category')['Tender Type'].value_counts()

Tender Category  Tender Type
Goods            Single           166
                 Open Tender      157
                 Open Limited      84
Services         Open Tender      199
                 Limited            4
                 Single             4
                 Open Limited       1
Works            Open Tender     2512
                 Limited            3
                 Single             2
                 Turnkey            2
Name: Tender Type, dtype: int64

In [22]:
dfpub.groupby('Tender Category')['Form of Contract'].value_counts()

Tender Category  Form of Contract
Goods            Item Wise              380
                 Tender cum Auction      22
                 Item Rate                5
Services         Percentage             129
                 Item Rate               72
                 Item Wise                5
                 EOI                      1
                 Tender cum Auction       1
Works            Item Rate             2281
                 Item Wise              130
                 Percentage             101
                 Fixed-rate               7
Name: Form of Contract, dtype: int64

In [23]:
dfpub.groupby('Tender Category')['Tender Status'].value_counts()

Tender Category  Tender Status
Goods            Published         256
                 Expired            94
                 Cancelled          53
                 Retender            4
Services         Expired           117
                 Cancelled          49
                 Published          42
Works            Expired          1633
                 Published         598
                 Cancelled         282
                 Retender            6
Name: Tender Status, dtype: int64

In [24]:
dfcancelled = dfpub[dfpub['Tender Status'] == 'Cancelled']

In [25]:
dfcancelled.groupby('Tender Category')['Form of Contract'].value_counts()

Tender Category  Form of Contract
Goods            Item Wise              50
                 Tender cum Auction      3
Services         Percentage             30
                 Item Rate              16
                 Item Wise               2
                 Tender cum Auction      1
Works            Item Rate             258
                 Item Wise              17
                 Percentage              7
Name: Form of Contract, dtype: int64

In [26]:
dfcancelled.groupby('Tender Category')['Tender Type'].value_counts()

Tender Category  Tender Type
Goods            Open Tender      32
                 Single           12
                 Open Limited      9
Services         Open Tender      46
                 Limited           2
                 Open Limited      1
Works            Open Tender     281
                 Turnkey           1
Name: Tender Type, dtype: int64

In [27]:
#dfcanc_goods = dfcancelled[dfcancelled['Tender Category'] == 'Goods'] not needed solved using above two lines

# Tenders in Progress

In [28]:
dfprog = pd.read_excel("TD2222.xlsx", sheet_name= 'inprog')

In [78]:
dfprog.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
0,1,2021_WCL_203656_1,Goods,Single,Item Wise,2,4085000,Financial Bid Opening,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
1,2,2021_WCL_203682_1,Goods,Open Limited,Item Wise,2,577450,Financial Bid Opening,2,0.0,21.0,Western Coalfields Limited||CHP||CHP_MM
2,3,2021_WCL_203685_1,Goods,Open Tender,Item Wise,2,827888,Financial Bid Opening,8,0.0,17.0,Western Coalfields Limited||CHP||CHP_MM
3,4,2021_WCL_203675_1,Works,Open Tender,Item Rate,1,257240,Evaluation,4,NaN,NaN,Western Coalfields Limited||CHP||CHP_E and M
4,5,2021_WCL_203686_1,Works,Open Tender,Item Wise,2,17119944,Technical Evaluation,3,79.0,99.0,Western Coalfields Limited||Wani N||Wani N_E a...

In [30]:
dfprog.groupby('Tender Category')['Tender Category'].value_counts()

Tender Category  Tender Category
Goods            Goods              206
Services         Services            35
Works            Works              565
Name: Tender Category, dtype: int64

In [31]:
dfprog.groupby('Tender Category')['Form of Contract'].value_counts()

Tender Category  Form of Contract
Goods            Item Wise             199
                 Tender cum Auction      5
                 Item Rate               2
Services         Item Rate              29
                 Percentage              5
                 EOI                     1
Works            Item Rate             468
                 Item Wise              78
                 Percentage             19
Name: Form of Contract, dtype: int64

In [32]:
dfprog.groupby('Tender Category')['Tender Type'].value_counts()

Tender Category  Tender Type
Goods            Single           84
                 Open Tender      63
                 Open Limited     59
Services         Open Tender      32
                 Single            3
Works            Open Tender     562
                 Single            2
                 Limited           1
Name: Tender Type, dtype: int64

# Awarded tenders

In [33]:
dfaward = pd.read_excel('TD2222.xlsx', sheet_name= 'AOC')

In [79]:
dfaward.head()

,S No,Tender ID,Tender Category,Tender Type,Form of contract,No of Covers,Value Of Tender (In Rs),Tender Stage,No of Bids Received,Awarded Bidders,Price Bid Opening Date,Date of Award Of Contract,Awarded Price (In Rs),Diff bet. Est Value & L1 (In Rs),Work Completion Period (in days),Organisation Chain
0,1,2021_WCL_203320_1,Works,Open Tender,Item Rate,1,2562665,AOC,6,1,NaN,03-Jun-2021,1425617.0,1137048.0,365,Western Coalfields Limited||CHP||CHP_Civil
1,2,2021_WCL_203659_1,Goods,Single,Item Wise,2,6993000,AOC,1,1,12-Apr-2021 10:43 AM,04-Jun-2021,6993000.0,0.0,120,Western Coalfields Limited||NGP||NGP_MM
2,3,2021_WCL_203661_1,Goods,Single,Item Wise,2,1046772,AOC,1,1,12-Apr-2021 10:44 AM,05-Jun-2021,1046772.0,0.0,120,Western Coalfields Limited||NGP||NGP_MM
3,4,2021_WCL_203680_1,Goods,Open Limited,Item Wise,2,386500,AOC,16,1,19-Apr-2021 04:36 PM,12-Dec-2021,486160.0,-99660.0,60,Western Coalfields Limited||CHP||CHP_MM
4,5,2021_WCL_203689_1,Goods,Single,Item Wise,2,503000,AOC,1,1,12-Apr-2021 10:44 AM,02-Jun-2021,503000.0,0.0,120,Western Coalfields Limited||NGP||NGP_MM

In [35]:
dfaward.groupby('Tender Category')['Tender Category'].value_counts()

Tender Category  Tender Category
Goods            Goods                94
Services         Services            117
Works            Works              1633
Name: Tender Category, dtype: int64

In [36]:
dfaward.groupby('Tender Category')['Tender Type'].value_counts()

Tender Category  Tender Type
Goods            Single            49
                 Open Tender       36
                 Open Limited       9
Services         Open Tender      115
                 Limited            2
Works            Open Tender     1630
                 Limited            2
                 Turnkey            1
Name: Tender Type, dtype: int64

In [37]:
dfaward.groupby('Tender Category')['Form of contract'].value_counts()

Tender Category  Form of contract
Goods            Item Wise               79
                 Tender cum Auction      12
                 Item Rate                3
Services         Percentage              94
                 Item Rate               20
                 Item Wise                3
Works            Item Rate             1519
                 Percentage              72
                 Item Wise               35
                 Fixed-rate               7
Name: Form of contract, dtype: int64

# No response

In [38]:
dfnr = pd.read_excel('TD2222.xlsx', sheet_name= 'noresponsse')

In [80]:
dfnr.head()

,S No,Tender ID,Tender Category,Tender Type,Form of contract,Value Of Tender (In Rs,Tender Status,Reason for Cancel/Retender,No. of Corrigendums Issued,Tender Stage,Bid Opening Date,Organisation Chain
0,1,2021_WCL_203731_1,Goods,Open Tender,Item Wise,331500,Published,NaN,1,To be Opened,28-Apr-2021 04:00 PM,Western Coalfields Limited||Pench||Pench_MM
1,2,2021_WCL_203856_1,Goods,Single,Item Wise,976338,Published,NaN,1,To be Opened,18-Apr-2021 11:00 AM,Western Coalfields Limited||Wani N||Wani N_MM
2,3,2021_WCL_203884_1,Goods,Single,Item Wise,155232,Published,NaN,1,To be Opened,17-Apr-2021 04:00 PM,Western Coalfields Limited||CHP||CHP_MM
3,4,2021_WCL_203966_1,Goods,Open Limited,Item Wise,59472,Published,NaN,1,To be Opened,04-May-2021 11:00 AM,Western Coalfields Limited||UMR||UMR_MM
4,5,2021_WCL_203932_1,Goods,Open Limited,Tender cum Auction,88736467,Published,NaN,1,To be Opened,17-May-2021 11:00 AM,Western Coalfields Limited||WCL_CRITICAL TENDERS

In [40]:
dfnr.groupby('Tender Category')['Tender Category'].value_counts()

Tender Category  Tender Category
Goods            Goods              48
Works            Works              18
Name: Tender Category, dtype: int64

In [41]:
dfnr.groupby('Tender Category')['Form of contract'].value_counts()

Tender Category  Form of contract
Goods            Item Wise             47
                 Tender cum Auction     1
Works            Item Rate             15
                 Item Wise              2
                 Percentage             1
Name: Form of contract, dtype: int64

In [42]:
dfnr.groupby('Tender Category')['Tender Type'].value_counts()

Tender Category  Tender Type
Goods            Open Tender     22
                 Single          19
                 Open Limited     7
Works            Open Tender     17
                 Single           1
Name: Tender Type, dtype: int64

# Tender values Analysis on published tenders

In [81]:
dfpub.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),Tender Status,Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
0,1,2021_WCL_203320_1,Works,Open Tender,Item Rate,1,2562665,0,Expired,AOC,6,NaN,NaN,Western Coalfields Limited||CHP||CHP_Civil
1,2,2021_WCL_203656_1,Goods,Single,Item Wise,2,4085000,0,Published,Financial Bid Opening,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
2,3,2021_WCL_203659_1,Goods,Single,Item Wise,2,6993000,0,Expired,AOC,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
3,4,2021_WCL_203661_1,Goods,Single,Item Wise,2,1046772,0,Expired,AOC,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
4,5,2021_WCL_203680_1,Goods,Open Limited,Item Wise,2,386500,0,Expired,AOC,16,0.0,17.0,Western Coalfields Limited||CHP||CHP_MM

In [49]:
dfpub.groupby('Tender Category')['Value Of Tender (In Rs)'].sum()

Tender Category
Goods         2747149788
Services    121248616913
Works         9374240312
Name: Value Of Tender (In Rs), dtype: int64

In [82]:
dfpubg.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),Tender Status,Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
1,2,2021_WCL_203656_1,Goods,Single,Item Wise,2,4085000,0,Published,Financial Bid Opening,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
2,3,2021_WCL_203659_1,Goods,Single,Item Wise,2,6993000,0,Expired,AOC,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
3,4,2021_WCL_203661_1,Goods,Single,Item Wise,2,1046772,0,Expired,AOC,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
4,5,2021_WCL_203680_1,Goods,Open Limited,Item Wise,2,386500,0,Expired,AOC,16,0.0,17.0,Western Coalfields Limited||CHP||CHP_MM
5,6,2021_WCL_203682_1,Goods,Open Limited,Item Wise,2,577450,0,Published,Financial Bid Opening,2,0.0,21.0,Western Coalfields Limited||CHP||CHP_MM

In [51]:
dfpubg.groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Item Rate                7467066
Item Wise              518861845
Tender cum Auction    2220820877
Name: Value Of Tender (In Rs), dtype: int64

In [52]:
dfpubg.groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Open Limited     179692298
Open Tender     2310649347
Single           256808143
Name: Value Of Tender (In Rs), dtype: int64

In [83]:
dfpubs.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),Tender Status,Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
47,48,2021_WCL_203832_1,Services,Open Tender,Item Rate,2,31063159,0,Expired,AOC,6,17.0,34.0,Western Coalfields Limited||CHP||CHP_Mining
48,49,2021_WCL_203858_1,Services,Open Tender,Item Rate,2,20509200,0,Expired,AOC,6,12.0,28.0,Western Coalfields Limited||UMR||UMR_Mining
53,54,2021_WCL_203875_1,Services,Open Tender,Item Rate,2,26413800,0,Cancelled,To be Opened,0,NaN,NaN,Western Coalfields Limited||Wani N||Wani N_Mining
56,57,2021_WCL_203916_1,Services,Open Tender,Item Wise,2,3766902672,0,Cancelled,To be Opened,0,NaN,NaN,Western Coalfields Limited||HQ||HQ_Mining
59,60,2021_WCL_203910_1,Services,Open Tender,Item Rate,2,12348286,0,Expired,AOC,3,15.0,32.0,Western Coalfields Limited||BLP||BLP_Mining

In [54]:
dfpubs.groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
EOI                             0
Item Rate             25240611633
Item Wise              7538163001
Percentage            88385283279
Tender cum Auction       84559000
Name: Value Of Tender (In Rs), dtype: int64

In [55]:
dfpubs.groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Limited             83755791
Open Limited        30345840
Open Tender     121131618146
Single               2897136
Name: Value Of Tender (In Rs), dtype: int64

In [84]:
dfpubw.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),Tender Status,Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
0,1,2021_WCL_203320_1,Works,Open Tender,Item Rate,1,2562665,0,Expired,AOC,6,NaN,NaN,Western Coalfields Limited||CHP||CHP_Civil
8,9,2021_WCL_203704_1,Works,Open Tender,Item Rate,1,1154000,0,Expired,AOC,9,NaN,NaN,Western Coalfields Limited||BLP||BLP_Civil
9,10,2021_WCL_203707_1,Works,Open Tender,Item Rate,1,2305000,0,Expired,AOC,5,NaN,NaN,Western Coalfields Limited||BLP||BLP_Civil
10,11,2021_WCL_203675_1,Works,Open Tender,Item Rate,1,257240,0,Published,Evaluation,4,NaN,NaN,Western Coalfields Limited||CHP||CHP_E and M
14,15,2021_WCL_203686_1,Works,Open Tender,Item Wise,2,17119944,0,Published,Technical Evaluation,3,79.0,99.0,Western Coalfields Limited||Wani N||Wani N_E a...

In [57]:
dfpubw.groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Fixed-rate       3052822
Item Rate     8406050201
Item Wise      772731035
Percentage     192406254
Name: Value Of Tender (In Rs), dtype: int64

In [58]:
dfpubw.groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Limited           5983031
Open Tender    6930903611
Single            1225336
Turnkey        2436128334
Name: Value Of Tender (In Rs), dtype: int64

# value of tenders in progress

In [68]:
dfprog.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
0,1,2021_WCL_203656_1,Goods,Single,Item Wise,2,4085000,Financial Bid Opening,1,2.0,10.0,Western Coalfields Limited||NGP||NGP_MM
1,2,2021_WCL_203682_1,Goods,Open Limited,Item Wise,2,577450,Financial Bid Opening,2,0.0,21.0,Western Coalfields Limited||CHP||CHP_MM
2,3,2021_WCL_203685_1,Goods,Open Tender,Item Wise,2,827888,Financial Bid Opening,8,0.0,17.0,Western Coalfields Limited||CHP||CHP_MM
3,4,2021_WCL_203675_1,Works,Open Tender,Item Rate,1,257240,Evaluation,4,NaN,NaN,Western Coalfields Limited||CHP||CHP_E and M
4,5,2021_WCL_203686_1,Works,Open Tender,Item Wise,2,17119944,Technical Evaluation,3,79.0,99.0,Western Coalfields Limited||Wani N||Wani N_E a...

In [60]:
dfprog.groupby('Tender Category')['Value Of Tender (In Rs)'].sum()

Tender Category
Goods       1148564586
Services     638713618
Works       1305235032
Name: Value Of Tender (In Rs), dtype: int64

In [64]:
# for goods

dfprog[dfprog['Tender Category'] == 'Goods'].groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Item Rate               3167952
Item Wise             318620977
Tender cum Auction    826775657
Name: Value Of Tender (In Rs), dtype: int64

In [65]:
dfprog[dfprog['Tender Category'] == 'Goods'].groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Open Limited     68102886
Open Tender     956753582
Single          123708118
Name: Value Of Tender (In Rs), dtype: int64

In [69]:
# for services

dfprog[dfprog['Tender Category'] == 'Services'].groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
EOI                   0
Item Rate     152060878
Percentage    486652740
Name: Value Of Tender (In Rs), dtype: int64

In [70]:
dfprog[dfprog['Tender Category'] == 'Services'].groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Open Tender    636540766
Single           2172852
Name: Value Of Tender (In Rs), dtype: int64

In [71]:
# for works

dfprog[dfprog['Tender Category'] == 'Works'].groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Item Rate     823572806
Item Wise     460725150
Percentage     20937076
Name: Value Of Tender (In Rs), dtype: int64

In [72]:
dfprog[dfprog['Tender Category'] == 'Works'].groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Limited           2832000
Open Tender    1301177696
Single            1225336
Name: Value Of Tender (In Rs), dtype: int64

# Value of cancelled tenders

In [85]:
dfcancelled.head()

,S No,Tender ID,Tender Category,Tender Type,Form of Contract,No of Covers,Value Of Tender (In Rs),EMD Amount (In Rs),Tender Status,Tender Stage,No of Bids Received,No of Days b/w Tech and Finance opening,Cycle Time bet. E-Publishing date and opening of price bid (in days),Organisation Chain
18,19,2021_WCL_203750_1,Goods,Open Tender,Item Wise,2,408279,0,Cancelled,Financial Bid Opening,4,0.0,21.0,Western Coalfields Limited||Majri||Majri_MM
26,27,2021_WCL_203795_1,Works,Open Tender,Item Rate,2,6473702,0,Cancelled,To be Opened,3,NaN,NaN,Western Coalfields Limited||Pench||Pench_E and M
39,40,2021_WCL_203845_1,Goods,Open Tender,Item Wise,2,9277455,185550,Cancelled,To be Opened,0,NaN,NaN,Western Coalfields Limited||Pench||Pench_MM
46,47,2021_WCL_203674_7,Works,Open Tender,Item Rate,1,248647,0,Cancelled,Bid Opening,6,NaN,NaN,Western Coalfields Limited||NGP||NGP_Civil
53,54,2021_WCL_203875_1,Services,Open Tender,Item Rate,2,26413800,0,Cancelled,To be Opened,0,NaN,NaN,Western Coalfields Limited||Wani N||Wani N_Mining

In [86]:
dfcancelled.groupby('Tender Category')['Value Of Tender (In Rs)'].sum()

Tender Category
Goods         286915945
Services    41538447291
Works        1213568682
Name: Value Of Tender (In Rs), dtype: int64

In [87]:
# for goods
dfcancelled[dfcancelled['Tender Category'] == 'Goods'].groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Item Wise              46481888
Tender cum Auction    240434057
Name: Value Of Tender (In Rs), dtype: int64

In [88]:
dfcancelled[dfcancelled['Tender Category'] == 'Goods'].groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Open Limited      5041868
Open Tender     270508857
Single           11365220
Name: Value Of Tender (In Rs), dtype: int64

In [89]:
# for services
dfcancelled[dfcancelled['Tender Category'] == 'Services'].groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Item Rate             24743515355
Item Wise              3766921172
Percentage            12943451764
Tender cum Auction       84559000
Name: Value Of Tender (In Rs), dtype: int64

In [90]:
dfcancelled[dfcancelled['Tender Category'] == 'Services'].groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Limited            39775266
Open Limited       30345840
Open Tender     41468326185
Name: Value Of Tender (In Rs), dtype: int64

In [91]:
# for works
dfcancelled[dfcancelled['Tender Category'] == 'Works'].groupby('Form of Contract')['Value Of Tender (In Rs)'].sum()

Form of Contract
Item Rate     1025452464
Item Wise      160788669
Percentage      27327549
Name: Value Of Tender (In Rs), dtype: int64

In [93]:
dfcancelled[dfcancelled['Tender Category'] == 'Works'].groupby('Tender Type')['Value Of Tender (In Rs)'].sum()

Tender Type
Open Tender    1205088348
Turnkey           8480334
Name: Value Of Tender (In Rs), dtype: int64